body {
    background-color: #1b3153;
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;

}
form{
    width: 270px;

    background-color: black;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
form > .box {
    width: 250px;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;

    text-align: end;
    font-size: 50px;
    font-weight: 500;

    margin-bottom: 30px;
}
.buttons {

    display: grid;
    grid-template-columns: repeat(4,57px);
    grid-auto-rows: 57px;
    grid-gap: 10px;
    padding-bottom: 20px;
}
.buttons > input{
    border: none;
    cursor: pointer;    
}

.buttons > .oper {
    background-color: rgb(165, 163, 163);
    color: black;
    border-radius: 100%;
    font-size: 25px;
    font-weight: 250;
}
.buttons > .oper:hover {
    background-color: rgb(188, 189, 191);
}
.buttons > .oper2 {
    background-color: rgb(239, 180, 72);
    color: white;
    border-radius: 100%;
    font-size: 25px;
    font-weight: 400;
}
.buttons > .oper2:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(239, 180, 72);
}
.buttons > .num {
    background-color: rgb(96, 94, 94);
    color: white;
    border-radius: 100%;
    font-size: 25px;
    font-weight: 400;
}
.buttons > .num:hover {
    background-color: #9a9b9c;

}
.zero {
    text-align: left;
    padding-left: 20px;
    grid-column: span 2;
    border-radius: 50px;
    background-color: rgb(96, 94, 94);
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.buttons > .zero:hover {
    background-color: #9a9b9c;

}